sup {
	vertical-align: baseline;
	position: relative;
	top: -0.4em;
}
sub {
	vertical-align: baseline;
	position: relative;
	top: 0.4em;
}
a:link {text-decoration:none;}
a:visited {text-decoration:none;}
@media screen and (min-device-pixel-ratio:0), (-webkit-min-device-pixel-ratio:0), (min--moz-device-pixel-ratio: 0) {.stl_view{ font-size:10em; transform:scale(0.1); -moz-transform:scale(0.1); -webkit-transform:scale(0.1); -moz-transform-origin:top left; -webkit-transform-origin:top left; } }
.layer { }.ie { font-size: 1pt; }
.ie body { font-size: 12em; }
@media print{.stl_view {font-size:1em; transform:scale(1);}}
.grlink { position:relative;width:100%;height:100%;z-index:1000000; }
.stl_01 {
	position: absolute;
	white-space: nowrap;
}
.stl_02 {
	font-size: 1em;
	line-height: 0.0em;
	width: 70.08334em;
	height: 39.41667em;
	border-style: none;
	display: block;
	margin: 0em;
}

@supports(-ms-ime-align:auto) { .stl_02 {overflow: hidden;}}
.stl_03 {
	position: relative;
}
.stl_04 {
	position: absolute;
	left: 0em;
	top: 0em;
}
.stl_05 {
	font-size: 1em;
	line-height: 0.0em;
	width: 70.08334em;
	height: 49.58333em;
	border-style: none;
	display: block;
	margin: 0em;
}

@supports(-ms-ime-align:auto) { .stl_05 {overflow: hidden;}}
.stl_06 {
	position: relative;
	width: 70.08334em;
}
.stl_07 {
	height: 4.958333em;
}
.ie .stl_07 {
	height: 49.58333em;
}
@font-face {
	font-family:"QJTKRI+BodoniSvtyTwoSCITCTT-Book";
	src:url("520ddad8-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_08 {
	font-size: 1.249999em;
	font-family: "QJTKRI+BodoniSvtyTwoSCITCTT-Book", "Times New Roman";
	color: #000008;
}
.stl_09 {
	line-height: 1.198em;
}
.stl_10 {
	letter-spacing: 0em;
}

.ie .stl_10 {
	letter-spacing: 0px;
}
.stl_11 {
	font-size: 0.749999em;
	font-family: "QJTKRI+BodoniSvtyTwoSCITCTT-Book", "Times New Roman";
	color: #000008;
}
.stl_12 {
	letter-spacing: -0.004em;
}

.ie .stl_12 {
	letter-spacing: -0.048px;
}
.stl_13 {
	letter-spacing: -0.451em;
}

.ie .stl_13 {
	letter-spacing: -5.4119px;
}
.stl_14 {
	letter-spacing: 0.0001em;
}

.ie .stl_14 {
	letter-spacing: 0.0007px;
}
.stl_15 {
	letter-spacing: -0.0003em;
}

.ie .stl_15 {
	letter-spacing: -0.0039px;
}
.stl_16 {
	letter-spacing: -0.0021em;
}

.ie .stl_16 {
	letter-spacing: -0.0256px;
}
.stl_17 {
	letter-spacing: -0.0029em;
}

.ie .stl_17 {
	letter-spacing: -0.0347px;
}
@font-face {
	font-family:"DGGOQS+Times New Roman";
	src:url("1a114f75-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_18 {
	font-size: 0.749999em;
	font-family: "DGGOQS+Times New Roman", "Times New Roman";
	color: #000008;
}
.stl_19 {
	line-height: 1.107422em;
}
.stl_20 {
	font-size: 0.916666em;
	font-family: "QJTKRI+BodoniSvtyTwoSCITCTT-Book", "Times New Roman";
	color: #000008;
}
.stl_21 {
	letter-spacing: -0.0229em;
}

.ie .stl_21 {
	letter-spacing: -0.3363px;
}
.stl_22 {
	letter-spacing: -0.0598em;
}

.ie .stl_22 {
	letter-spacing: -0.8767px;
}
.stl_23 {
	letter-spacing: -0.0232em;
}

.ie .stl_23 {
	letter-spacing: -0.3401px;
}
.stl_24 {
	letter-spacing: -0.0353em;
}

.ie .stl_24 {
	letter-spacing: -0.5183px;
}
.stl_25 {
	letter-spacing: -0.0209em;
}

.ie .stl_25 {
	letter-spacing: -0.306px;
}
.stl_26 {
	letter-spacing: -0.0136em;
}

.ie .stl_26 {
	letter-spacing: -0.163px;
}
.stl_27 {
	letter-spacing: 0.1263em;
}

.ie .stl_27 {
	letter-spacing: 1.516px;
}
.stl_28 {
	font-size: 2em;
	font-family: "QJTKRI+BodoniSvtyTwoSCITCTT-Book", "Times New Roman";
	color: #FFFFFF;
}
.stl_29 {
	font-size: 2em;
	font-family: "QJTKRI+BodoniSvtyTwoSCITCTT-Book", "Times New Roman";
	color: #C00000;
}
.stl_30 {
	-o-transform: scale(1,0.9396927);
	-webkit-transform: scale(1,0.9396927);
	-moz-transform: scale(1,0.9396927);
	transform: scale(1,0.9396927);
	-o-transform-origin: top left;
	-webkit-transform-origin: top left;
	-moz-webkit-transform-origin: top left;
	-transform-origin: top left;
	-ms-transform: matrix(1,0,0,0.9396927,0,-0);
	-ms-transform-origin: top left;
}
.stl_31 {
	letter-spacing: -0.0002em;
}

.ie .stl_31 {
	letter-spacing: -0.0053px;
}
.stl_32 {
	font-size: 1.833333em;
	font-family: "QJTKRI+BodoniSvtyTwoSCITCTT-Book", "Times New Roman";
	color: #F34335;
}
.stl_33 {
	letter-spacing: -0.008em;
}

.ie .stl_33 {
	letter-spacing: -0.2349px;
}
.stl_34 {
	font-size: 1.833333em;
	font-family: "QJTKRI+BodoniSvtyTwoSCITCTT-Book", "Times New Roman";
	color: #F44336;
}
.stl_35 {
	letter-spacing: -0.0004em;
}

.ie .stl_35 {
	letter-spacing: -0.012px;
}
.stl_36 {
	font-size: 0.666667em;
	font-family: "QJTKRI+BodoniSvtyTwoSCITCTT-Book", "Times New Roman";
	color: #000008;
}
.stl_37 {
	letter-spacing: 0.0792em;
}

.ie .stl_37 {
	letter-spacing: 0.8453px;
}
.stl_38 {
	letter-spacing: -0.0265em;
}

.ie .stl_38 {
	letter-spacing: -0.2826px;
}
.stl_39 {
	letter-spacing: -0.0267em;
}

.ie .stl_39 {
	letter-spacing: -0.285px;
}
.stl_40 {
	letter-spacing: 0.1437em;
}

.ie .stl_40 {
	letter-spacing: 1.5326px;
}
.stl_41 {
	letter-spacing: -0.0409em;
}

.ie .stl_41 {
	letter-spacing: -0.4366px;
}
.stl_42 {
	letter-spacing: -0.0208em;
}

.ie .stl_42 {
	letter-spacing: -0.2213px;
}
.stl_43 {
	letter-spacing: 0.1389em;
}

.ie .stl_43 {
	letter-spacing: 1.482px;
}
.stl_44 {
	letter-spacing: -0.0292em;
}

.ie .stl_44 {
	letter-spacing: -0.3113px;
}
.stl_45 {
	letter-spacing: -0.0269em;
}

.ie .stl_45 {
	letter-spacing: -0.2871px;
}
.stl_46 {
	letter-spacing: -0.0252em;
}

.ie .stl_46 {
	letter-spacing: -0.2692px;
}
.stl_47 {
	letter-spacing: -0.0375em;
}

.ie .stl_47 {
	letter-spacing: -0.4003px;
}
.stl_48 {
	letter-spacing: 0.1433em;
}

.ie .stl_48 {
	letter-spacing: 1.5287px;
}
.stl_49 {
	letter-spacing: -0.0243em;
}

.ie .stl_49 {
	letter-spacing: -0.2587px;
}
.stl_50 {
	letter-spacing: -0.0299em;
}

.ie .stl_50 {
	letter-spacing: -0.3195px;
}
.stl_51 {
	letter-spacing: 0.1472em;
}

.ie .stl_51 {
	letter-spacing: 1.5707px;
}
.stl_52 {
	letter-spacing: -0.0274em;
}

.ie .stl_52 {
	letter-spacing: -0.292px;
}
.stl_53 {
	letter-spacing: -0.0273em;
}

.ie .stl_53 {
	letter-spacing: -0.2914px;
}
.stl_54 {
	letter-spacing: -0.0266em;
}

.ie .stl_54 {
	letter-spacing: -0.284px;
}
.stl_55 {
	letter-spacing: 0.1435em;
}

.ie .stl_55 {
	letter-spacing: 1.5306px;
}
.stl_56 {
	letter-spacing: -0.0262em;
}

.ie .stl_56 {
	letter-spacing: -0.2794px;
}
.stl_57 {
	letter-spacing: -0.0282em;
}

.ie .stl_57 {
	letter-spacing: -0.3005px;
}
.stl_58 {
	letter-spacing: -0.027em;
}

.ie .stl_58 {
	letter-spacing: -0.2883px;
}
.stl_59 {
	letter-spacing: -0.035em;
}

.ie .stl_59 {
	letter-spacing: -0.3731px;
}
.stl_60 {
	letter-spacing: 0.1464em;
}

.ie .stl_60 {
	letter-spacing: 1.562px;
}
.stl_61 {
	letter-spacing: -0.0297em;
}

.ie .stl_61 {
	letter-spacing: -0.3167px;
}
.stl_62 {
	letter-spacing: -0.0261em;
}

.ie .stl_62 {
	letter-spacing: -0.278px;
}
.stl_63 {
	letter-spacing: 0.1338em;
}

.ie .stl_63 {
	letter-spacing: 1.4267px;
}
.stl_64 {
	letter-spacing: 0.1416em;
}

.ie .stl_64 {
	letter-spacing: 1.51px;
}
.stl_65 {
	letter-spacing: -0.0316em;
}

.ie .stl_65 {
	letter-spacing: -0.3367px;
}
.stl_66 {
	letter-spacing: -0.0259em;
}

.ie .stl_66 {
	letter-spacing: -0.2764px;
}
.stl_67 {
	letter-spacing: 0.1405em;
}

.ie .stl_67 {
	letter-spacing: 1.4987px;
}
.stl_68 {
	letter-spacing: -0.0226em;
}

.ie .stl_68 {
	letter-spacing: -0.2413px;
}
.stl_69 {
	letter-spacing: -0.0279em;
}

.ie .stl_69 {
	letter-spacing: -0.2975px;
}
.stl_70 {
	letter-spacing: 0.1414em;
}

.ie .stl_70 {
	letter-spacing: 1.508px;
}
.stl_71 {
	letter-spacing: -0.0304em;
}

.ie .stl_71 {
	letter-spacing: -0.324px;
}
.stl_72 {
	letter-spacing: -0.0341em;
}

.ie .stl_72 {
	letter-spacing: -0.3633px;
}
.stl_73 {
	letter-spacing: 0.1491em;
}

.ie .stl_73 {
	letter-spacing: 1.59px;
}
.stl_74 {
	letter-spacing: 0.1458em;
}

.ie .stl_74 {
	letter-spacing: 1.5554px;
}
.stl_75 {
	letter-spacing: -0.0301em;
}

.ie .stl_75 {
	letter-spacing: -0.3206px;
}
@font-face {
	font-family:"VGFCKT+TimesNewRomanPS-BoldItalicMT";
	src:url("c1715666-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_76 {
	font-size: 1.166666em;
	font-family: "VGFCKT+TimesNewRomanPS-BoldItalicMT", "Times New Roman";
	color: #FFFFFF;
}
.stl_77 {
	letter-spacing: -0.0097em;
}

.ie .stl_77 {
	letter-spacing: -0.1814px;
}
@font-face {
	font-family:"FIIPMM+Times New Roman";
	src:url("a9d4df8f-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_78 {
	font-size: 1.166666em;
	font-family: "FIIPMM+Times New Roman", "Times New Roman";
	color: #FFFFFF;
}
.stl_79 {
	letter-spacing: 0.0281em;
}

.ie .stl_79 {
	letter-spacing: 0.5252px;
}
.stl_80 {
	letter-spacing: -0.0107em;
}

.ie .stl_80 {
	letter-spacing: -0.1994px;
}
@font-face {
	font-family:"FGFOBR+TimesNewRomanPSMT";
	src:url("81192442-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_81 {
	font-size: 0.999999em;
	font-family: "FGFOBR+TimesNewRomanPSMT", "Times New Roman";
	color: #000008;
}
.stl_82 {
	letter-spacing: -0.0028em;
}

.ie .stl_82 {
	letter-spacing: -0.0449px;
}
@font-face {
	font-family:"NJTBJS+Times New Roman";
	src:url("84634c35-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_83 {
	font-size: 0.999999em;
	font-family: "NJTBJS+Times New Roman", "Times New Roman";
	color: #000008;
}
.stl_84 {
	letter-spacing: -0.0074em;
}

.ie .stl_84 {
	letter-spacing: -0.1182px;
}
.stl_85 {
	letter-spacing: -0.0111em;
}

.ie .stl_85 {
	letter-spacing: -0.1778px;
}
@font-face {
	font-family:"WVFRJO+ARDECODE";
	src:url("1230924b-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_86 {
	font-size: 1.5em;
	font-family: "WVFRJO+ARDECODE", "Times New Roman";
	color: #000008;
}
.stl_87 {
	line-height: 1.222em;
}
.stl_88 {
	font-size: 1.166666em;
	font-family: "FGFOBR+TimesNewRomanPSMT", "Times New Roman";
	color: #000008;
}
.stl_89 {
	letter-spacing: -0.0011em;
}

.ie .stl_89 {
	letter-spacing: -0.0209px;
}
.stl_90 {
	font-size: 1.166666em;
	font-family: "NJTBJS+Times New Roman", "Times New Roman";
	color: #000008;
}
.stl_91 {
	letter-spacing: -0.0095em;
}

.ie .stl_91 {
	letter-spacing: -0.177px;
}
@font-face {
	font-family:"GJWRNE+PingFangSC-Light";
	src:url("1c7cd690-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_92 {
	font-size: 0.666667em;
	font-family: "GJWRNE+PingFangSC-Light", "Times New Roman";
	color: #000000;
}
.stl_93 {
	line-height: 1.204em;
}
@font-face {
	font-family:"ETEAHQ+PingFangSC-Regular";
	src:url("f11669a1-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_94 {
	font-size: 0.583333em;
	font-family: "ETEAHQ+PingFangSC-Regular", "Times New Roman";
	color: #000008;
}
.stl_95 {
	letter-spacing: -0.0714em;
}

.ie .stl_95 {
	letter-spacing: -0.6667px;
}
.stl_96 {
	font-size: 0.583333em;
	font-family: "FGFOBR+TimesNewRomanPSMT", "Times New Roman";
	color: #000008;
}
.stl_97 {
	letter-spacing: -0.0857em;
}

.ie .stl_97 {
	letter-spacing: -0.8001px;
}
.stl_98 {
	letter-spacing: 0.1429em;
}

.ie .stl_98 {
	letter-spacing: 1.3333px;
}
.stl_99 {
	font-size: 0.666667em;
	font-family: "FGFOBR+TimesNewRomanPSMT", "Times New Roman";
	color: #1F1F1F;
}
.stl_100 {
	letter-spacing: -0.05em;
}

.ie .stl_100 {
	letter-spacing: -0.5333px;
}
.stl_101 {
	letter-spacing: -0.0548em;
}

.ie .stl_101 {
	letter-spacing: -0.584px;
}
.stl_102 {
	font-size: 1.166666em;
	font-family: "GJWRNE+PingFangSC-Light", "Times New Roman";
	color: #FFFFFF;
}
.stl_103 {
	font-size: 0.999999em;
	font-family: "GJWRNE+PingFangSC-Light", "Times New Roman";
	color: #CC3A35;
}
@font-face {
	font-family:"EJUFEW+HYa4gj";
	src:url("f54f5f33-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_104 {
	font-size: 1.25em;
	font-family: "EJUFEW+HYa4gj", "Times New Roman";
	color: #000008;
}
.stl_105 {
	line-height: 0.999024em;
}
@font-face {
	font-family:"IBPGMU+Helvetica";
	src:url("675f8343-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_106 {
	font-size: 1.25em;
	font-family: "IBPGMU+Helvetica", "Times New Roman";
	color: #000008;
}
.stl_107 {
	line-height: 1em;
}
.stl_108 {
	letter-spacing: -0.0236em;
}

.ie .stl_108 {
	letter-spacing: -0.3459px;
}
.stl_109 {
	letter-spacing: -0.0212em;
}

.ie .stl_109 {
	letter-spacing: -0.3106px;
}
.stl_110 {
	letter-spacing: -0.1179em;
}

.ie .stl_110 {
	letter-spacing: -1.729px;
}
.stl_111 {
	letter-spacing: -0.019em;
}

.ie .stl_111 {
	letter-spacing: -0.2794px;
}
.stl_112 {
	letter-spacing: -0.0195em;
}

.ie .stl_112 {
	letter-spacing: -0.2863px;
}
.stl_113 {
	letter-spacing: -0.0184em;
}

.ie .stl_113 {
	letter-spacing: -0.2702px;
}
@font-face {
	font-family:"LMCCVD+AmericanTypewriter-Bold";
	src:url("2e2165c8-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_114 {
	font-size: 1em;
	font-family: "LMCCVD+AmericanTypewriter-Bold", "Times New Roman";
	color: #C00000;
}
.stl_115 {
	line-height: 1.226em;
}
.stl_116 {
	font-size: 1em;
	font-family: "FGFOBR+TimesNewRomanPSMT", "Times New Roman";
	color: #000008;
}
.stl_117 {
	letter-spacing: -0.0038em;
}

.ie .stl_117 {
	letter-spacing: -0.0603px;
}
.stl_118 {
	letter-spacing: -0.0031em;
}

.ie .stl_118 {
	letter-spacing: -0.0502px;
}
.stl_119 {
	letter-spacing: -0.0012em;
}

.ie .stl_119 {
	letter-spacing: -0.0185px;
}
.stl_120 {
	font-size: 1em;
	font-family: "ETEAHQ+PingFangSC-Regular", "Times New Roman";
	color: #000008;
}
.stl_121 {
	letter-spacing: -0.0542em;
}

.ie .stl_121 {
	letter-spacing: -0.8665px;
}
.stl_122 {
	letter-spacing: -0.0053em;
}

.ie .stl_122 {
	letter-spacing: -0.0854px;
}
.stl_123 {
	letter-spacing: -0.0043em;
}

.ie .stl_123 {
	letter-spacing: -0.069px;
}
@font-face {
	font-family:"BLGQIJ+TimesNewRomanPS-BoldMT";
	src:url("14cb5de2-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_124 {
	font-size: 0.75em;
	font-family: "BLGQIJ+TimesNewRomanPS-BoldMT", "Times New Roman";
	color: #C00000;
}
.stl_125 {
	letter-spacing: -0.0138em;
}

.ie .stl_125 {
	letter-spacing: -0.1655px;
}
.stl_126 {
	font-size: 0.666667em;
	font-family: "FGFOBR+TimesNewRomanPSMT", "Times New Roman";
	color: #000008;
}
.stl_127 {
	letter-spacing: -0.0276em;
}

.ie .stl_127 {
	letter-spacing: -0.2947px;
}
.stl_128 {
	font-size: 0.916666em;
	font-family: "BLGQIJ+TimesNewRomanPS-BoldMT", "Times New Roman";
	color: #C00000;
}
.stl_129 {
	letter-spacing: -0.0217em;
}

.ie .stl_129 {
	letter-spacing: -0.319px;
}
.stl_130 {
	letter-spacing: -0.0193em;
}

.ie .stl_130 {
	letter-spacing: -0.2825px;
}
.stl_131 {
	letter-spacing: -0.0325em;
}

.ie .stl_131 {
	letter-spacing: -0.4767px;
}
.stl_132 {
	letter-spacing: -0.0289em;
}

.ie .stl_132 {
	letter-spacing: -0.4243px;
}
.stl_133 {
	font-size: 1.333333em;
	font-family: "QJTKRI+BodoniSvtyTwoSCITCTT-Book", "Times New Roman";
	color: #000008;
}
.stl_134 {
	letter-spacing: 0.1295em;
}

.ie .stl_134 {
	letter-spacing: 2.7627px;
}
.stl_135 {
	-o-transform: scale(1,0.9396925);
	-webkit-transform: scale(1,0.9396925);
	-moz-transform: scale(1,0.9396925);
	transform: scale(1,0.9396925);
	-o-transform-origin: top left;
	-webkit-transform-origin: top left;
	-moz-webkit-transform-origin: top left;
	-transform-origin: top left;
	-ms-transform: matrix(1,0,0,0.9396925,0,-0);
	-ms-transform-origin: top left;
}
.stl_136 {
	font-size: 1em;
	font-family: "GJWRNE+PingFangSC-Light", "Times New Roman";
	color: #000008;
}
.stl_137 {
	letter-spacing: -0.0342em;
}

.ie .stl_137 {
	letter-spacing: -0.3651px;
}
.stl_138 {
	font-size: 1.166666em;
	font-family: "EJUFEW+HYa4gj", "Times New Roman";
	color: #000008;
}
.stl_139 {
	letter-spacing: -0.0317em;
}

.ie .stl_139 {
	letter-spacing: -0.3382px;
}
.stl_140 {
	font-size: 0.75em;
	font-family: "FGFOBR+TimesNewRomanPSMT", "Times New Roman";
	color: #3F3F3F;
}
.stl_141 {
	letter-spacing: -0.0023em;
}

.ie .stl_141 {
	letter-spacing: -0.0277px;
}
.stl_142 {
	font-size: 0.75em;
	font-family: "FGFOBR+TimesNewRomanPSMT", "Times New Roman";
	color: #000008;
}
.stl_143 {
	letter-spacing: -0.0001em;
}

.ie .stl_143 {
	letter-spacing: -0.0016px;
}
.stl_144 {
	letter-spacing: -0.0019em;
}

.ie .stl_144 {
	letter-spacing: -0.0225px;
}
.stl_145 {
	letter-spacing: -0.0006em;
}

.ie .stl_145 {
	letter-spacing: -0.0069px;
}
.stl_146 {
	font-size: 1.5em;
	font-family: "EJUFEW+HYa4gj", "Times New Roman";
	color: #000000;
}
.stl_147 {
	line-height: 0.999023em;
}
.stl_148 {
	font-size: 0.833333em;
	font-family: "GJWRNE+PingFangSC-Light", "Times New Roman";
	color: #CC3935;
}
.stl_149 {
	letter-spacing: -0.0537em;
}

.ie .stl_149 {
	letter-spacing: -0.7155px;
}
.stl_150 {
	font-size: 1.5em;
	font-family: "QJTKRI+BodoniSvtyTwoSCITCTT-Book", "Times New Roman";
	color: #C00000;
}
.stl_151 {
	letter-spacing: -0.003em;
}

.ie .stl_151 {
	letter-spacing: -0.0477px;
}
.stl_152 {
	letter-spacing: -0.0048em;
}

.ie .stl_152 {
	letter-spacing: -0.0764px;
}
.stl_153 {
	font-size: 1.5em;
	font-family: "QJTKRI+BodoniSvtyTwoSCITCTT-Book", "Times New Roman";
	color: #000008;
}
.stl_154 {
	letter-spacing: 0.13em;
}

.ie .stl_154 {
	letter-spacing: 3.12px;
}
.stl_155 {
	letter-spacing: 0.0009em;
}

.ie .stl_155 {
	letter-spacing: 0.0213px;
}
@font-face {
	font-family:"RASVQK+Times New Roman";
	src:url("f2addb9c-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_156 {
	font-size: 1.5em;
	font-family: "RASVQK+Times New Roman", "Times New Roman";
	color: #000008;
}
.stl_157 {
	font-size: 3.5em;
	font-family: "QJTKRI+BodoniSvtyTwoSCITCTT-Book", "Times New Roman";
	color: #000008;
}
